body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1OnRKRqfc0B3wEdKRuTfOhKewSP9Pfb9uTxuVsQ2GRA8P1xEH");
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: oblique;
  font-weight: bolder;
}
.form{
  text-align:center !important;
  border: 2px solid black;
  border-radius: 100px;
  padding:100px;
  background-color:aliceblue;
}

#blank{
  text-align: center;
}
.quiz{
   line-height:normal;
  border-radius: 15px;

  height: 30px;
  border:2px solid black;
}
button{
  border:2px solid black;
  border-radius: 15px;
  height: 30px;
}
.begin{
  padding-bottom:6px;
  padding-right:6px;
  padding-left:6px;
  font-weight: bolder;
  list-style-type: none;
}
h1{
  text-align: center;
  font-weight: bolder;
  padding-top:25px;
  color:purple;
}
input[type='radio']:checked:after {
        /* width: 15px;
        height: 15px; 
        border-radius: 15px;
        top: -2px;
        left: -1px;
        
        position: relative;
        content: '';*/
        background-color:purple;
        display: inline-block;
        visibility: visible;
        font-weight: bolder;
       
}
h2{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 32px;
  color:aliceblue;
}
.question1{
  color:aliceblue;
  /* font-weight: 1500px; */
}
.question2{
  color:aliceblue;
}
.question3{
  color:aliceblue;
}
.question4{
  color:aliceblue;
}
.question5{
  color:aliceblue;
}